# Environment
.env
.env*.local

# Dependencies
node_modules/

# Build
dist/
*.tgz
__pycache__

# Debug
.log*
backup

# Next.js
.next/
out/
build/
coverage/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.direnv/
